#search_form input {
    width: auto;
    float: left;
}
#search_form button {
    border: 0;
    background-color: #f47b22;
    color: #fff;
    border-radius: 20px;
    padding: 5px 25px;
    font-size: 25px;
    margin-left: 35px;
    cursor: pointer;
}